nav {
    background:rgb(0,0,0);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
 
  }

nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 20px;
    font-family: aleo;
    border-left: 1px solid white;
  }

nav a:hover {
    background: #ddd;
    color: black;
  }

white-border-left {
  border-left: 1px solid white;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    font-family: aleo;
  }

#overlayText {
    background-color: none;
    position: fixed;
    z-index:100;
    color:white;
    top: 8px;
    left: 20px;
    font-size: 2.3vw;
    font-family: aleo;
}

.title {
    margin-top: 135px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.title h1 {
    text-align: center;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
    font-family: aleo;
}

p {
    font-family: aleo;
}

.white-space {
  white-space: pre;
}

.show-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.show-list {
    list-style-type: none;
    padding: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 800px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.show-website {
    border: 2px solid black;
    padding: 6px;
    color: black;
}

.show-website:visited {
    color: black;
}

.show-bottom-border {
    border-bottom: 2px solid white;
}