nav {
    background:rgba(0,0,0,0.8);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 20px;
    font-family:rock salt;
  }

nav a:hover {
    background: #ddd;
    color: black;
  }

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    font-family: rock salt;
  }

#overlayText {
    background-color: none;
    position: fixed;
    z-index:100;
    color:white;
    top: 8px;
    left: 20px;
    font-size: 2.3vw;
    font-family:rock salt;
}

.title {
    margin-top: 90px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.title h1 {
    text-align: center;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
    font-family: aleo;
}

p {
    font-family: aleo;
}