.complain-embed {
    width: 500px;
    height: 500px;
}

.music-table {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .complain-embed {
        width: 50%;
        height: 50%;
    }

}
